$font-fam: 'Roboto', sans-serif;

$bg-color: #000000;

$blue-color: #00afdb;

$dark-blue-color: #009CC2;

$header-text-color: rgb(255, 255, 255);

$main-screen-section-text-color: rgb(255, 255, 255);

$bold-text: 600;